{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('homepage') }}
{% endblock %}

{% block body %}
    <section>
        <a href="{{ path('app_galery') }}">
            {{ _self.carousel(arr_img, 'homepageCarousel') }}
        </a>
    </section>
    <div class="basic_page">
        <div class="row">
            <div class="col-lg-6 flex flex-column justify-content-between">
                <div class="row">
                    <div>
                        <a href="{{ path('app_reservation') }}" id="reservation_image">
                            <img src="{{ asset('/images/reservation.jpg') }}" class="responsiveImage rounded-3" alt="Reservation">
                            <p>{{ str_reservation }}</p>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div id="time_table" class=" div-column rounded-3">
                        <div>
                            <div class="stickers">{{ time.date }}</div>
                        </div>
                        <div class="div-column">
                            {% if time.arr is defined %}
                                {% for time_day in time.arr %}
                                    <div class="div-column time_horaire">
                                        <p>{{ time_day.title }}</p>
                                        <div class="div-row justify-content-evenly">
                                            <p>{{ time_day.day }}</p>
                                            <p>{{ time_day.night }}</p>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <ul><li>Aucune horaire à afficher</li></ul>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="row center">
                    <a id="reservation_button" href="{{ path('app_reservation') }}">
                        <button type="button" class="btn">RÉSERVER MAINTENANT</button>
                    </a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div id="menu_table" class=" div-column rounded-3" >
                        <div>
                            <div class="stickers">MENU</div>
                        </div>
                        <div class="div-column">
                            {% if menus|length %}
                                {% for dish in menus %}
                                    <div class="div-column menu_dish">
                                        <div class="div-row justify-content-evenly">
                                            <p>{{ dish.getTitle }}</p>
                                            <p>{{ dish.getStringPrice }}</p>
                                        </div>
                                        <p>{{ dish.getdescription }}</p>
                                    </div>
                                {% endfor %}
                                <a href="{{ path('app_menu') }}">
                                    <i class="bi bi-arrow-up-left-square"></i>
                                    Voir le menu complet
                                </a>
                            {% else %}
                                <ul><li>Aucun menu à afficher</li></ul>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% macro carousel(arr_img, carousel_id) %}
    {% if arr_img|length %}
        <div id="{{ carousel_id }}" class="carousel slide" data-bs-ride="true">
            <div class="carousel-indicators">
                {% for img in arr_img %}
                    <button type="button" data-bs-target="#{{ carousel_id }}" data-bs-slide-to="{{ img.pos }}" aria-label="Slide {{ img.pos }}"
                            {% if img.pos is same as 0 %}class="active" aria-current="true"{% endif %}></button>
                {% endfor %}
            </div>
            <div class="carousel-inner">
                {% for img in arr_img %}
                    <div class="carousel-item {% if img.pos is same as 0 %}active{% endif %}">
                        <img src="{{ asset(img.path) }}" class="d-block carouselImage" alt="{{ img.title }}">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>{{ img.title }}</h5>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#{{ carousel_id }}"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#{{ carousel_id }}"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden"></span>
            </button>
        </div>
    {% else %}
        <ul><li>Pas d'images disponibles pour le carousel</li></ul>
    {% endif %}
{% endmacro %}
