<!DOCTYPE html>
<html lang="fr">
    <head>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-3SCVJC6NEC"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-3SCVJC6NEC');
        </script>
        <meta charset="UTF-8">
        <title>{% block title %}Quai Antique{% endblock %}</title>
        <link rel="icon" href="{{ asset("images/favicon.png") }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {{ include('header.html.twig') }}
        <main>
            {% block body %}{% endblock %}
        </main>
        {{ include('footer.html.twig') }}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
